In [13]:
!pip install pandas
!pip install sklearn

Requirement already satisfied: pandas in c:\users\susanna\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\susanna\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\susanna\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\susanna\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\susanna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\users\susanna\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\susanna\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\susanna\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\susanna\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\susanna\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.1)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=659e522a57bebcef3f69a4564d89b391858beab13d312be25866a587cbb26f8a
  Stored in directory: c:\users\susanna\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [58]:
dataset = pd.read_csv("mushrooms.partial.csv")

In [59]:
# vogliamo vedere tutte le righe e tutte le colonne
pd.set_option("max_columns", None) 
pd.set_option("max_rows", None)

In [1]:
#dataset

PREPOCESSAMENTO
trasformo le stringhe in int

In [56]:
# cerchiamo se ci sono valori mancanti
dataset.isna().sum()

class                       0
cap-shape                   0
cap-surface                 0
cap-color                   0
bruises                     0
odor                        0
gill-attachment             0
gill-spacing                0
gill-size                   0
gill-color                  0
stalk-shape                 0
stalk-root                  0
stalk-surface-above-ring    0
stalk-surface-below-ring    0
stalk-color-above-ring      0
stalk-color-below-ring      0
veil-type                   0
veil-color                  0
ring-number                 0
ring-type                   0
spore-print-color           0
population                  0
habitat                     0
dtype: int64

In [61]:
#trasformo le string in int
mappings = list()
encoder = LabelEncoder()

for column in dataset.columns:
    dataset[column] = encoder.fit_transform(dataset[column])

In [2]:
#dataset

FASE DI SPLITTING

In [63]:
dati_train, dati_test = train_test_split(dataset, test_size = 0.25, random_state = 41)

In [64]:
dati_train.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,stalk-root,stalk-surface-above-ring,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
2419,1,3,2,2,0,8,1,0,1,0,1,0,1,1,7,7,0,2,1,0,7,4,0
3917,0,2,0,4,1,5,1,0,0,7,1,1,2,2,3,3,0,2,1,4,3,4,0
3078,1,3,2,4,0,2,1,0,1,0,1,0,2,2,6,6,0,2,1,0,7,4,0
1894,1,5,3,2,0,2,1,0,1,0,1,0,1,1,7,7,0,2,1,0,7,4,2
3824,1,2,3,9,0,2,1,0,0,3,0,1,1,1,0,4,0,2,1,2,1,4,4

In [50]:
dati_test.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
1098,0,5,0,2,1,5,1,0,0,7,...,2,7,3,0,2,1,4,3,5,0
1253,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,2,2,3
823,1,2,3,3,0,2,1,0,0,3,...,1,0,4,0,2,1,2,1,5,1
2726,0,5,3,4,1,5,1,0,0,7,...,2,3,6,0,2,1,4,2,5,0
2793,1,3,2,2,0,7,1,0,1,0,...,1,6,6,0,2,1,0,7,4,4

In [65]:
dati_train.to_csv("train.csv", index=False)

In [66]:
dati_test.to_csv("test.csv", index=False)

In [67]:
dati_train.columns

Index(['class', 'cap-shape', 'cap-surface', 'cap-color', 'bruises', 'odor',
       'gill-attachment', 'gill-spacing', 'gill-size', 'gill-color',
       'stalk-shape', 'stalk-root', 'stalk-surface-above-ring',
       'stalk-surface-below-ring', 'stalk-color-above-ring',
       'stalk-color-below-ring', 'veil-type', 'veil-color', 'ring-number',
       'ring-type', 'spore-print-color', 'population', 'habitat'],
      dtype='object')